<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584033225096-lfbi2j67b51nnk1nj9uj9s87dmvrtlkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584033225096-lfbi2j67b51nnk1nj9uj9s87dmvrtlkl</string>
	<key>API_KEY</key>
	<string>AIzaSyAw3KS_fy3gtKw4R46rpYYxoblbERVpBag</string>
	<key>GCM_SENDER_ID</key>
	<string>584033225096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodRecipe</string>
	<key>PROJECT_ID</key>
	<string>herbs-and-spices-966f5</string>
	<key>STORAGE_BUCKET</key>
	<string>herbs-and-spices-966f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584033225096:ios:e74b6115b2a8e7ba7d523d</string>
</dict>
</plist>